ul {
margin: 0px;
padding: 0px;
}

ul li {
background: #00CC99;
list-style-type: none;
height: 40px;
margin: 0px;
padding: 0px;
}

ul li:hover {
	background-color: #006633;
}

ul li.active {
	background-color: #996666;
}


body { 
background-color: #000000;
margin: 0;
padding: 0;
}

#content {
margin-top: 0px;
margin-bottom: 0px;
width: 806px;
margin-left: auto;
margin-right: auto;
background: #00CC99;
padding: 0px;
}

#pole1 {
width: 600px;
height: 40px;
margin: 0;
padding: 0px;
}

#button1 {
width: 200px;
height: 40px;
margin: 0px;
padding: 0px;
background: #00CC99;
border: none;
}